.banniere {
    position: relative;
    padding: 0;
    flex: 1 1 auto;
}

.banniere__img {
    width: 100%;
}

.banniere__txt {
    position: absolute;
    top: 15%;
    left: 27%;
    width: 35%;
    font-family: "Fira Code", monospace;
    box-sizing: border-box;
}

.banniere__txt p {
    font-size: 32px;
    color: #4EC9B0;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.banniere__txt span {
    font-size: 32px;
    color: #CE9178;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.banniere__txt strong {
    font-size: 40px;
    color: #DCDCAA;
    display: block;
    margin-top: 20px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}
