@import "../../assets/styles/partials/variables.scss";
@import "../../assets/styles/partials/mixin.scss";

.projects__title {
    color: $colored_title;
    text-align: center;
    @include main_title;
}

.filtre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & select {
        @include main_button;
        text-align: left;
        outline: none;
        & option {
        color: $colored_title;
        background-color: white;
        }
    }
}

.masonry__grid {
    margin: 70px auto 0 auto;
    max-width: 1440px;
    &--single {
        justify-content: center;
    }
}