@mixin main_title {
    font-family: $title_font;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 70px;
    @media (max-width: 768px) {
        font-size: 2rem;
    }
}

@mixin main_button {
    border-radius: 5px;
    padding: 5px 10px;
    border: solid 2px $colored_title;
    background: white;
    color: $colored_title;
    font-weight: 500;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 1rem;    
    }
    &:hover {
        background-color: rgb(246, 210, 210);
    }
}