/***Main colors***/
$colored_background: #f7ca8f;
$neutral_background: #efefef;
$colored_title: #AA5833;
$main_txt: rgb(67, 67, 67);


/***Font-family***/
$main_font: "Open Sans", sans-serif;
$title_font: "Playfair Display", serif;
$computer_font: "Fira Code", monospace;
$logo_font: "Berkshire Swash", serif;

/***Font-size***/
$maintxt_size: 1.1rem;

/***Skills number***/
$num: 9;