.skills {
    background-color: var(--main-color);
}

.skills__title {
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
}

.skills__carousel {
    overflow: hidden;
    max-width: 1440px;
    height: 500px;
    margin: auto;
    @media (max-width: 768px) {
    height: 350px;
    }
}

.carousel__gallery {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery__card {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    animation: slide 9s linear infinite,
        scaleEffect 9s ease-in-out infinite;
    animation-delay: calc(9s * ((var(--timer) - 1) / var(--num) - 1));
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}

@for $i from 1 through 20 {
  .timer-#{$i} {
    --timer: #{$i};
  }
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-45deg);
    justify-content: center;
}

.card__content img {
    width: 75%;
    -webkit-box-reflect: below 30px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    @media (max-width: 768px) {
        width: 60%;
    }
}

.card__content span {
    font-size: 14px; 
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

@keyframes slide {
    from {
        left: 100%;
    }

    to {
        left: calc(-1 * var(--wd)* 1px);
    }
}

 @keyframes scaleEffect {
    0%,
    25%,
    75%,
    100% {
        transform: rotate(45deg) scale(1);
        z-index: 0;
        filter: grayscale(1);
    }

    50% {
        transform: rotate(45deg) scale(2);
        z-index: 10;
        filter: grayscale(0);
    }
} 