@import "../../assets/styles/partials/variables.scss";
@import "../../assets/styles/partials/mixin.scss";

.services {
    background-color: $colored_background;
}

.services__title{
    text-align: center;
    @include main_title;
}

.services__container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 30px;
    justify-content: center; 
    margin: auto;
}

.services__article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 0 5px;
}

.article__title {
    font-size: $subtitle_size;
}

.article__image {
    width: 120px;
    border-radius: 50%;
}