@import "../../assets/styles/partials/variables.scss";
@import "../../assets/styles/partials/mixin.scss";

.about__container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.about__content {
    display: flex;
    margin: auto;
    gap: 30px;
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.about__title {
    color: $colored_title;
    @include main_title;
    @media (max-width: 768px) {
        text-align: center;
    }
}

.about__txt {
    text-align: justify;
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 20px;
}

.about__photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img {
    border-radius: 100px;
    @media (max-width: 768px) {
        height: 150px;
    }
}

.about__button {
    display: flex;
    gap: 25px;
    margin: 20px auto 0 auto;
    & a {
        @include main_button;
    }
}