@import "../../assets/styles/partials/variables.scss";
@import "../../assets/styles/partials/mixin.scss";

.contact__container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}
.contact__links {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 0;
    margin-left: 50px;
    border-right: 1px solid black;
    @media (max-width: 768px) {
        border-right: none;
        padding: 0 20px;
        margin-left: 0;
    }
}
.contact__title {
    color: $colored_title;
    text-align: left;
    @include main_title;
}

.contact__icon {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

.contact__txt {
    padding-bottom: 30px;
}

.contact__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
    @media (max-width: 768px) {
        padding: 0 20px;
    }
}

.contact__form input, 
.contact__form textarea {
    background-color: $colored_background;
    margin: 0 0 10px 0;
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
}

.form__name {
    width: 60%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.form__email,
.form__object {
    width: 100%;
}

.form__message {
    width: 100%;
    height: 200px;
}
.form__button {
    margin: 20px auto;
    @include main_button;
}