@import "../../assets/styles/partials/variables.scss";
@import "../../assets/styles/partials/mixin.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $neutral_background;
    padding: 30px;
    gap: 20px;
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: row-reverse;
    }
}

.mainlogo {
    font-family: $logo_font;
    font-size: 2.25rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 1.2rem;
    }
}

.navbar__menu {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 50;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        width: 0;
        padding: 2rem;
        background-color: $colored_background;
        visibility: hidden;
        transition: all .8s ease-out;
        gap: 0;
        font-weight: 700;
    }
}

.navbar--open .navbar__menu {
    @media (max-width: 1024px) {
        right: 0;
        width: 100vw;
        visibility: visible;
    }
}

.navbar__burger {
    width: 30px;
    height: 30px;
    display: none;
    @media (max-width: 1024px) {
        display: block;
        z-index: 99;
    }
}

.burger__bar, 
.burger__bar::before,
.burger__bar::after {
    @media (max-width: 1024px){
        display: block;
        width: 30px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: black;
        transition: all .5s ease-in-out;
    }
}

.burger__bar::before,
.burger__bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.burger__bar::before {
    transform: translateY(-12px);
}

.burger__bar::after {
    transform: translateY(12px);
}

.navbar--open .burger__bar::before {
    transform: rotate(45deg);
}

.navbar--open .burger__bar::after {
    transform: rotate(-45deg);
}

.navbar--open .burger__bar {
    background: transparent;
    width: 0;
}

.navbar__item::after {
    @media (max-width: 1024px){
        content: "";
        display: block;
        margin: 30px auto;
        width: 3vw;
        height: 2px;
        background-color: $main_txt;
    }
}

.navbar__item:last-child::after {
    display: none;
}

.button__translate {
    @include main_button;
    padding: 0 5px;
    appearance: none;
    outline: none;
        & option {
        color: $colored_title;
        background-color: white;
        }
}

