header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    background-color: rgb(217, 217, 217);
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
}

.mainlogo {
    padding: 30px;
    font-family: "Berkshire Swash", serif;
    font-size: 36px;
    font-weight: 500;
    @media (max-width: 1024px) {
        font-size: 24px;
    }
}

.navbar__menu {
    display: flex;
    gap: 15px;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        width: 0;
        padding: 2rem;
        background-color: var(--main-color);
        visibility: hidden;
        transition: all .8s ease-out;
    }
}

.show-nav .navbar__menu {
    @media (max-width: 768px) {
        right: 0;
        width: 100vw;
        visibility: visible;
    }
}

.navbar__burger {
    width: 30px;
    height: 30px;
    display: none;
    @media (max-width: 768px) {
        display: block;
        z-index: 10;
    }
}

.burger__bar, 
.burger__bar::before,
.burger__bar::after {
    @media (max-width: 768px){
        display: block;
        width: 30px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: black;
        transition: all .5s ease-in-out;
    }
}

.burger__bar::before,
.burger__bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.burger__bar::before {
    transform: translateY(-12px);
}

.burger__bar::after {
    transform: translateY(12px);
}

.show-nav .burger__bar::before {
    transform: rotate(45deg);
}

.show-nav .burger__bar::after {
    transform: rotate(-45deg);
}

.show-nav .burger__bar {
    background: transparent;
    width: 0;
}

.navbar__item::after {
    @media (max-width: 768px){
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background-color: black;
    }
}

.navbar__item:last-child::after {
    display: none;
}

