@import "partials/variables.scss";

* {
    margin: 0;
    font-family: $main_font;
    font-size: $maintxt_size;
    box-sizing: border-box;
    color: $main_txt;
    line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $main_txt;
}

section {
    flex: 1;
    margin: auto 0;
    padding: 70px;
    background-color: $neutral_background;
    @media (max-width: 768px) {
        padding: 50px 20px;
    }
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}